.container{
            display: flex;
            align-items: center;
            justify-self: center;
            border: 2px solid black;
            justify-content: center;
            width: 40vh;
            height: 40vh;
            background-color: orange;
             transition: background-color,1s,ease-out;
             animation: a1 1s linear 0s infinite alternate none;
        }
        .outbox{
            display: flex;
            align-items: center;
            justify-self: center;
            border: 2px solid black;
            justify-content: center;
            width: 30vh;
            height: 30vh;
            background-color: white;
            
             transition: background-color,0.8s,ease-out;
             animation: a2 1s linear 0s infinite alternate none;
        }.inbox{
            display: flex;
           
            align-items: center;
            border: 2px solid black;
            text-align: center;
            width:20vh;
            height: 20vh;
            background-color: green;
            font-weight: 800; 
            font-family: Arial, Helvetica, sans-serif;font-size: small;
            color: rgb(172, 149, 202);
            transition: background-color,0.6s,ease-out;
            animation: a3 1s linear 0s infinite alternate none;
        }@keyframes a1 {
            from{}
            to{
                border-radius: 100%;
            }
        }@keyframes a2 {
            from{}
            to{
                border-radius: 100%;
            }
        }@keyframes a3 {
            from{}
            to{
                border-radius: 100%;
            }
        }