*{
    margin: 0;
    padding: 0;
}
.box{
height: 433px;
width: 80vw;
border: 2px solid black;
padding: 3px;
margin: 3px;
}
.box1{
/* display: flex; */
background-color: aqua;
position: sticky;
top:0;
width:80vw;
height: 10vh;
}
.box2{
background-color:azure;
top:23px;
right: 10px;
}
.box3{
background-color:beige;
}
.box4{
background-color:bisque;
position:fixed;
bottom: 0;
width:80vw;
height: 10vh;
}
.parent{
    padding: 23px;
    border:5px solid salmon;
    margin: 23px;
}