*{
    margin: 0;
    padding: 0;
}
body{
    justify-items: center ;
}
.container{
    background-color: rgb(37, 36, 36);
    width: 80vw;
    height:80vh;
    margin-top: 10vh;
}
.box{
    
    width: 10vw;
    height:10vh;
    /* background-color: rgb(110, 107, 126); */
    /* animation-name: fanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay:2s ;
    animation-direction: alternate; */
    animation: fanimation 3s linear 0s infinite alternate none,fanimation2 3s linear 0s infinite alternate none;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.box:hover{
    animation-play-state: paused;
}
@keyframes fanimation {
    from{
     background-color: rgb(255, 0, 0);
    }
    to{
      background-color: rgb(0, 255, 76);
    }
}@keyframes fanimation2 {
    20%{
        transform:translate(14vw,14vh) rotate(90deg);
    }40%{
        transform:translate(28vw,28vh) rotate(180deg);
    }
    60%{
        transform:translate(42vw,42vh) rotate(270deg);
    }80%{
        transform:translate(56vw,56vh) rotate(360deg);
    }100%{
        transform:translate(70vw,70vh) rotate(450deg)
    }
}