*{
    padding: 0;
    margin: 0;
}
.a1{
    border: 2px solid black;
     display: inline-block;
     margin: 10px;
     padding: 10px;
     width: 50px;
     height: 50px;
     display: grid;
     visibility:hidden ;
     
}.a2{
    border: 2px solid black;
    display: inline-block;
     margin: 10px;
     padding: 10px;
     width: 50px;
     height: 50px;
         box-shadow: 7px 12px 8px 0px black;
         text-shadow: -3px 2px 5px yellow;
    
}.a3{
    border: 2px solid black;
    
}